.app-logo{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 0px;
  margin-bottom: 10px;
}

.logo {
  width: 500px; 
  height: auto; 
  max-width: 800px; 
  max-height: 800px;
  position: absolute;
}
.form {
  max-width: 350px;         
  margin: 0 auto;            
  padding: 80px;             
  border: 1px solid #cccccc;
  border-radius: 35px;        
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;        
  display: grid;             
  grid-gap: 40px;
  position: relative;
  top: 50px;            
}

.signup-title {
  max-width: 400px;         
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Verdana', sans-serif;              
}
.applications-title{
  max-width: 400px;         
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Verdana', sans-serif; 
}

.footer {
text-align: center;
}

.success-message {
  text-align: center;
}

.submit {
  width: 50%;
  max-width: 200px; 
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(2, 2, 57);
  color: white;
  font-weight: bold;
}

.login-title{
  text-align: center;
  font-family: 'Verdana', sans-serif;
}

.application-add{   
  text-align: left;
  justify-self: start; 
  width: 90%;
}
.app-form{   
  max-width: 350px;         
  margin: 0 auto;            
  padding: 80px;             
  border: 1px solid #cccccc;
  border-radius: 35px;        
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: grid;             
  grid-gap: 25px;
  position: relative;
  top: 75px; 
}

  .application-title{
    text-align:center;
    font-family: 'Verdana', sans-serif;
  }

  .applicationpost-link{
    text-align:center;
  }
  .application-cards-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  .application-edit-tile{
    display: block;
    max-width: 350px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Verdana', sans-serif;
  }
  .application-card {
    max-width: 400px;
    margin: 0 auto;
    padding: 45px;
    border: 1px solid #cccccc;
    border-radius: 25px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Verdana', sans-serif;
  }
  .register-link{
  text-align: center;   
  }

  .login-link{
  text-align: center;
  }

  .signup-form{
    max-width: 250px;         
    margin: 0 auto;            
    padding: 60px;             
    border: 1px solid #cccccc;
    border-radius: 35px;        
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: grid;             
    grid-gap: 25px;
    position: relative;
    text-align: center;
    top: 75px; 
  }

  .login-form{
    max-width: 250px;         
    margin: 0 auto;            
    padding: 60px;             
    border: 1px solid #cccccc;
    border-radius: 35px;        
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: grid;             
    grid-gap: 25px;
    position: relative;
    text-align: center;
    top: 75px; 
  }

  .login-icon{
    margin-right: 8px; 
    font-size: 3em;
    vertical-align: middle;
    color: black
  }

  .signup-icon{
    margin-right: 8px; 
    font-size: 3em;
    vertical-align: middle;
    color: black
  }
  .add-resume-icon{
    margin-right: 8px; 
    font-size: 3em;
    vertical-align: middle;
    color: black
  }
  .total-resume-icon{
    margin-right: 8px; 
    font-size: 3em;
    vertical-align: middle;
    color: black
  }
  .application-add {
    text-align: right;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
    align-items: center;
  }
  
  .action-link {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: black;
    font-size: 1.2em; 
  }
  
  .action-icon {
    font-size: 2.5em; 
    margin-right: 5px; 
    vertical-align: middle;
  }