.form {
  max-width: 400px;         
  margin: 0 auto;            
  padding: 20px;             
  border: 1px solid #cccccc;
  border-radius: 20px;        
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;        
  display: grid;             
  grid-gap: 15px;            
}

.signup-title {
  max-width: 400px;         
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Verdana', sans-serif;              
}

.footer {
text-align: center;
}

.success-message {
  text-align: center;
}

.submit {
  width: 50%;
  max-width: 200px; 
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(2, 2, 57);
  color: white;
  font-weight: bold;
}

.login-title{
  text-align: center;
  font-family: 'Verdana', sans-serif;
}

.application-add{ max-width: 400px;         
  margin: 0 auto;            
  padding: 20px;             
  border: 1px solid #cccccc;
  border-radius: 20px;        
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;        
  display: grid;             
  grid-gap: 15px;  }

  .application-title{
    text-align:center;
    font-family: 'Verdana', sans-serif;
  }

  .applicationpost-link{
    text-align:center;
  }
  .application-index-tile{
  max-width: 400px;         
  margin: 0 auto;            
  padding: 20px;             
  border: 1px solid #cccccc;
  border-radius: 20px;        
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;        
  display:grid;             
  grid-gap: 15px;
  font-family: 'Verdana', sans-serif;
  }
  .application-edit-tile{
    max-width: 400px;         
    margin: 0 auto;            
    padding: 20px;             
    border: 1px solid #cccccc;
    border-radius: 20px;        
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;        
    display:grid;             
    grid-gap: 15px;
    font-family: 'Verdana', sans-serif;
  }

  .register-link{
  text-align: center;   
  }

  .login-link{
  text-align: center;
  }